attached_assets/mindmarket.com_(1)_1783200151875.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/mindmarket.com_(1)_1783220450506.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/mindmarket.com_(1)_1783222087518.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/mindmarket_1783199580042.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/mindmarket_1783220574694.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/mindmarket_1783222096823.mp4 filter=lfs diff=lfs merge=lfs -text
